<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Warn"
      internalLogFile="${basedir}/logs/nlog-internal.log">
	<targets async="true">
		<target xsi:type="File"
				name="fileTarget"
				fileName="${basedir}/logs/${scopeproperty:item=Username}/logfile-${shortdate}.log"
				layout="${longdate}|${level:uppercase=true}|${logger}|${message}|${exception:format=tostring}" />
		<target xsi:type="Database"
				name="databaseTarget"
				dbProvider="System.Data.SqlClient"
				connectionString="Data Source=Sneha\SQLEXPRESS01;Initial Catalog=asampleprojectdb;Integrated Security=true;">
			<commandText>
				INSERT INTO LogTable (LogDate, LogLevel, Logger, Message, Username)
				VALUES (@LogDate, @LogLevel, @Logger, @Message, @Username)
			</commandText>
			<parameter name="@LogDate" layout="${date:format=yyyy-MM-dd HH\:mm\:ss}" />
			<parameter name="@LogLevel" layout="${level}" />
			<parameter name="@Logger" layout="${logger}" />
			<parameter name="@Message" layout="${message}" />
			<parameter name="@Username" layout="${scopeproperty:item=Username:whenEmpty=Anonymous}" />
		</target>
		<target xsi:type="Console" name="consoleTarget" />
	</targets>
	<rules>
		<logger name="*" minlevel="Info" writeTo="fileTarget" />
		<logger name="*" minlevel="Info" writeTo="databaseTarget" />
		<logger name="*" minlevel="Debug" writeTo="consoleTarget" />
	</rules>
</nlog>